* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

header {
    overflow-x: hidden;
    text-align: center;
}
header nav {
    height: 45px;
}
header nav > div {
    float: left;
    width: 50%;
}
header nav > div h1 {
    font-size: 16px;
    line-height: 45px;
    color: #f14344;
}
header nav > div p,
header nav > div a {
    display: inline-block;
    padding: 15px 15px;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}
.header_content {
    position: relative;
    height: 80vh;
    overflow: hidden;
}
.header_content > div {
    width: 68%;
    height: 80vh;
    transform: skewX(30deg);
    overflow: hidden;
}
.header_left {
    position: absolute;
    top: 0px;
    left: -20%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 30px;
    background-image:linear-gradient(to right, #f14344, #b71516);
}
.header_right {
    position: absolute;
    top: 0px;
    right: -20%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 20px;
}
.header_reverse {
    transform: skewX(-30deg);
}
.header_left .header_reverse {
    width: 26vw;
    float: right;
    margin-top: 30vh;
    margin-right: 6vw;
    text-align: left;
}
.header_left .header_reverse h1 {
    color: #eee;
    padding-bottom: 20px;
    font-size: 30px;
}
.header_left .header_reverse p {
    color: #bbb;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 30px;
}
.header_left .main_button {
    border: none;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #b71516;
    font-size: 10px;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-left: 10px;
}
.header_left .main_button a {
    color: #b71516;
    text-decoration: none;
}
.header_left .second_button {
    border: 1px solid #fff;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-left: 10px;
}
.header_left .second_button a {
    color: #fff;
    text-decoration: none;
}
.header_right .header_reverse {
    width: 100%;
    height: 100%;
    background-image: url(images/hero.jpg);
    background-size: cover;
    margin-left: -20vw;
}


main {
    position: relative;
    height: 80vh;
    width: 100vw;
    padding: 20px;
    overflow: hidden;
}
main::before {
    clear: both;
    content: "";
    display: table;
    height: 0;
}
main::after {
    clear: both;
    content: "";
    display: table;
    height: 0;
}
content {
    width: 75%;
    height: 60vh;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    position: relative;
}
content > section {
    padding: 20px;
    width: 30%;
    height: 100%;
    position: absolute;
}
content > section:first-of-type {
    left: -4%;
    padding: 60px 20px;
    width: 35%;
}
content > section:first-of-type h1 {
    margin-bottom: 15px;
}
.about_text p {
    color: #888;
    font-size: 14px;
    font-weight: 300;
}
content > section:nth-of-type(2) {
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.img_demo {
    z-index: 9999;
    background-image: url(images/demo.jpg);
    background-size: cover;
    border-radius: 10px;
}
content > section:last-of-type {
    left: 60%;
    width: 58%;
    position: relative;
}
content > section:last-of-type > div {
    width: 40%;
    height: 30%;
    background-color: #f5f5f5;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    position: absolute;
    padding: 10px;
}
.features {
    background-color: #f5f5f5;
    height: 400px;
    margin-top: 50px;
}
content > section:last-of-type > div:nth-of-type(1) {
    left: 5%;
    top: 10%;
}
content > section:last-of-type > div:nth-of-type(2) {
    right: 5%;
    top: 10%;
}
content > section:last-of-type > div:nth-of-type(3) {
    left: 5%;
    bottom: 10%;
}
content > section:last-of-type > div:nth-of-type(4) {
    right: 5%;
    bottom: 10%;
}


content > section:last-of-type > div > div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 10px 6px 20px 0px rgba(0, 0, 0, 0.20);
}
footer {
    height: 10vh;
    width: 100%;
    background-color: #282828;
    padding: 10px;
    position: relative;
    color: #ccb
}
footer .logo {
    background-image: repeating-radial-gradient(17vw 17vw at 50% 50%, #282828 0% 0%, #454545 1% 8%, #282828 9% 17%);
    height: 70%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 30%;
    margin: 0 auto;
}
footer .logo span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    letter-spacing: 1vw;
    color: #aaa;
    font-size: 3vh;
    text-align: center;
}
footer p {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    width: 50%;
    margin: 0 auto;
    color: #aaa;
}
