{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Class List</title>

    <link rel="stylesheet" href="{% static 'classrooms/base.css' %}">
    <link rel="stylesheet" href="{% static 'classrooms/classroom_update.css' %}">
</head>

<body>
    <nav class="side_nav">
        <div class="nav_start">
            <h3><a href="{% url 'landing_page' %}">Class Gifts</a></h3>
            <p>Browse people in class and see their whishlist</p>
            {% if context.user_type == 'teacher' %}
            	<a href="{% url 'classrooms:classroom-create' %}">New Class +</a>
            {% endif %}
        </div>
        {% for class in context.classes %}
	        <div class="class_div">
	            <a href="{{ class.get_absolute_url }}">{{ class.name }}</a>
	        </div>
        {% endfor %}
        <a href="{% url 'logout' %}" style="position: fixed; bottom: 20px; left: 20px; color: #fff; font-size: 14px;">Log Out</a>
    </nav>
    <main>
        <header>
            <i>&#35;</i>
            <form method="GET" action="{% url 'classrooms:classrooms-list' %}">
                <input type="text" name="search_class" placeholder="Search For Class">
            </form>
            <div class="user">
                <a href="{{ context.base_user.get_absolute_url }}">
                    <i class="icon-user-circle-o more_icon"></i>
                </a>
                <p>Hi, {{ context.username }}</p>
            </div>
        </header>
        <section>
            {% for class in classes_find %}
                <div class="to_remove">
                    {% if not class in waiting %}
                        <button class="ask" name="{{ class.id }}">
                            Ask to join
                        </button>
                    {% else %}
                        {% if class in my_classes %}
                            <button class="" name="">
                                You are in
                            </button>
                        {% else %}
                            <button class="" name="">
                                Waiting
                            </button>
                        {% endif %}
                    {% endif %}
                    <div>
                        <h1>{{ class.name }}</h1>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $('.ask').click(function(){
            $.ajax({
                type: "POST",
                url: "{% url 'classrooms:ask' %}",
                data: {'student': '{{ user_email }}', 'classroom': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
            }); 
        })
        
        ask_button = document.querySelectorAll("button.ask");
        rows0 = document.querySelectorAll(".to_remove");
        for (var i = 0; i < ask_button.length; i++) {
            ask_button[i].addEventListener("click", function() {
                for(var j = 0; j < ask_button.length; j++) {
                    if(ask_button[j] == this) {
                        rows0[j].style.display = "none"
                    }
                }
            })
        }
    </script>
</body>

</html>