{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Delete Class</title>

    <link rel="stylesheet" href="{% static 'classrooms/base.css' %}">
    <link rel="stylesheet" href="{% static 'classrooms/classroom_delete.css' %}">
</head>

<body>
    <nav class="side_nav">
        <div class="nav_start">
            <h3><a href="{% url 'landing_page' %}">Class Gifts</a></h3>
            <p>Browse people in class and see their whishlist</p>
            {% if context.user_type == 'teacher' %}
                <a href="{% url 'classrooms:classroom-create' %}">New Class +</a>
            {% endif %}
        </div>
        {% for class in context.classes %}
	        <div class="class_div">
	            <a href="{{ class.get_absolute_url }}">{{ class.name }}</a>
	        </div>
	    {% endfor %}
	    <a href="{% url 'logout' %}" style="position: fixed; bottom: 20px; left: 20px; color: #fff; font-size: 14px;">Log Out</a>
    </nav>
    <main>
        <header>
            <i>&#35;</i>
            <form method="GET" action="{% url 'classrooms:classrooms-list' %}">
            	<input type="text" placeholder="Search For Class">
            </form>
            <div class="user">
                <a href="{{ context.base_user.get_absolute_url }}">
                    <i class="icon-user-circle-o more_icon"></i>
                </a>
                <p>Hi, Filip</p>
            </div>
        </header>
        <section>
            <header>
                Deleting class
            </header>
            <div>
                <form action='' method='POST'>{% csrf_token %}
                    <p>Do you really want to remove <span>{{ object.name }}</span>?</p>
                    <button type="submi" value="Yes">Yes</button>
                    <a href='../'>Cancel</a>
                </form>
            </div>
        </section>
    </main>
</body>

</html>
